/* 
----------------------------------- 
SEARCH INPUT
----------------------------------- 
*/

.search-bar > input {
  outline: none;
  padding: 7px 15px;
  color: var(--white);
  border: none;
  width: 540px;
  font-size: 16px;
  background: transparent;
  border-bottom: 1px solid var(--white);
  font-weight: 300;
  font-family: "Lato", sans-serif;
  position: relative;
}

.searchElementsContainer {
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  width: 540px;
  animation: fadein 1s;
}

/* RESPONSIVE DESIGN */

@media (max-width: 1200px) {
  .search-bar > input,
  .searchElementsContainer {
    width: 400px;
  }
}

@media (max-width: 800px) {
  .search-bar > input,
  .searchElementsContainer {
    width: 300px;
  }
}

@media (max-width: 560px) {
  .search-bar {
    width: 100%;
  }
  .search-bar > input {
    width: 100%;
  }

  .searchElementsContainer {
    width: 90%;
  }
}
