/* 
----------------------------------- 
FOOTER
----------------------------------- 
*/

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  color: var(--grey);
  align-items: center;
  line-height: 21.6px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  margin-top: 40px;
  padding-bottom: 30px;
  font-weight: 300;
}

footer svg {
  margin-right: 2px;
}

footer > a,
footer > span {
  transition: 0.4s all ease;
  padding-bottom: 10px;
}

footer > a:hover,
footer > span:hover {
  color: var(--green);
  text-decoration: underline;
  cursor: pointer;
}
